/* 
    Document   : base.css
    Description:
        Basic styles for theme_arnold.
*/

/*
  Drupal tabs css
*/
ul.tabs{
  padding: 0;
  font-size: 1.4rem;
}
.tabs li {
    display: inline-block;
    list-style: none;
    padding:0;
}
.tabs li a {
    border-radius: 3px 3px 3px 3px;
    color: #444444;
    font-weight: bold;
    margin: 0;
    padding: 6px 10px;
}
.tabs li a:hover,
.tabs li a:active,
.tabs li a:focus,
.tabs li.active a {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
    text-decoration: none;
}